<template>
  <div class="container">
    <router-link to="/search-job">Go To Job Search</router-link>
    <div class="job-listings-container">
      <div class="filter-area">
        <div class="job-search">
          <input type="text" v-model="search" placeholder="Company Name" class="form-control">
        </div>
        <div class="filter-button">
          <button class="btn btn-primary">Sort By Location</button>
          <button @click="exp" class="btn btn-primary">Sort By Exp</button>
        </div>
      </div>
      <div class="jobs">
        <List-Component :search_string=this.search :experience=this.experience.isClicked ></List-Component>
      </div>
    </div>
  </div>
</template>

<script>
import ListComponent from "@/components/list-component";

export default {
  components: {
    "List-Component": ListComponent
  },
  data() {
    return {
      search: "",
      experience:{
          isClicked:false
      }
    };
  },
  methods:{
      exp:function(){
          this.experience.isClicked = !this.experience.isClicked;
          //console.log(this.experience.isClicked);
      }
  }
};
</script>

<style scoped lang="scss">
.job-listings-container {
  display: flex;
  flex-direction: column;
  .filter-area {
    display: flex;
    margin-top: 5%;
    width: 100%;
    .job-search {
      flex: 40%;
      input {
        border-radius: 40px;
        width: 40%;
        @include mobile {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    @include mobile {
      flex-direction: column;
    }
    .filter-button {
      display: flex;
      flex: 0%;
      @include tablet {
      }
      @include mobile {
        margin-top: 6%;
      }
      button {
        margin-left: 3%;
        flex: 46% 0 0;
      }
    }
  }
}
</style>
