<template>
    <div class="flex-container">
        <div class="search-strip">
            <div class="experience">
               <span>Experience</span>
                <div class="dropdown" @click="showDropDown">
                    {{experience == ''?'Select Experience':experience}}
                    <div v-if="showDropdown" class="dropdown-container">     
                        <div @click="selectExperience(value)" class="dropdown-value" v-for="value in dropdown" :key="value.dropdown">
                            {{value}}
                        </div>
                    </div>
                </div> 
            </div>
            <div class="location">
                <span>Location</span>
                <div class="search-location">
                    <input type="text" placeholder="Ex Banglore" v-model="location">
                </div>
            </div>
            <div @click="search" class="submit">
                Submit
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  data(){
      return{
            dropdown:['Fresher','0-2 yrs','8-13 yrs'],
            isSearch:false,
            experience:'',
            location:'',
            showDropdown:false
          }
 },
  methods:{
      search:function(){
          this.isSearch = true;
          if(this.experience == '' && this.location == ''){
            alert('Please provide either experiece or location');
        }else{
              this.$router.push({name:`searchRoute`,query:{isSearch: this.isSearch , location:this.location , experience: this.experience}});
        }
      },
      showDropDown:function(){
          this.showDropdown = !this.showDropdown;
      },
      selectExperience:function(data){
          //console.log(data);
          this.experience=data;
          //console.log(this.experience)
      }
  }  


  }
</script>

<style scoped lang="scss">
.flex-container{
    display:flex;
    margin:0 auto;
    max-width:1000px;
    padding:70px 0px;
    flex-direction: column;
    .search-strip{
        display:flex;
        border:1px dashed black;
        width: 100%;
        padding:20px 0px 20px 48px;
        @include mobile{
            flex-direction: column;
        }
        .experience{
            display: flex;
            margin-left:2%;
            @include tablet{
               margin-left: 0px;
            }
            @include mobile{
                margin-left: 0px;
            }
            .dropdown{
                border: 1px solid black;
                margin-left:10%;
                padding: 0px 10px 0px 10px;
                width: 200px;
                cursor: pointer;
                position: relative;
                text-align: center;
                .dropdown-container{
                    position: absolute;
                    width:100%;
                    left:0px;
                    top:27px;
                    background:cornsilk;
                    box-shadow: 1px 1px 3px 0px #ccc;

                    .dropdown-value{
                        padding:10px 0px 10px 0px;
                        transition: 0.4s all;
                        &:hover{
                            background:honeydew;
                        }
                    }
                }
            }
        }
        .location{
            display:flex;
            @include mobile{
                margin-top:5%;
            }
            span{
                margin-left:40%;
                @include tablet{
                    margin-left:10%;
                }
                @include mobile{
                    margin-left:0%;
                }
            }
            .search-location{
                margin-left:10%;
                @include mobile{
                    margin-left:15%;
                }
                input{
                    border:1px solid black;
                    &::placeholder{
                       text-align: center; 
                    }
                    &:-ms-input-placeholder{
                        text-align: center;
                    }
                    &::-moz-placeholder{
                        text-align:center;
                    }
                }
            }
        }
        .submit{
            display: flex;
            cursor: pointer;
            padding:0px 10px 0px 10px;
            border:1px solid black;
            margin-left:25%;
            transition:0.3s all;
            @include tablet{
                margin-left:12%;
            }
            @include mobile{
                margin-left:25%;
                margin-right: auto;
                width: 23%;
                margin-top:9%;
                text-align: center;
                padding: 4px 1px 4px 13px;
            }
            &:hover{
                background: black;
                color:white;
            }
        }
    }
}
</style>
