<template>
  <div class="job-list">
    <div class="total-jobs">Total jobs:{{JobList.length}}</div>
    <div class="tiles-container">
      <div v-for="job in JobList" :key="job._id" class="tile">
        <p>Job Title:&nbsp;
          <span>{{job.title}}</span>
        </p>
        <p>Company:&nbsp;
          <span>{{job.companyname === ''? 'NA':job.companyname}}</span>
        </p>
        <p>Location:&nbsp;
          <span>{{job.location === ''?'NA':job.location}}</span>
        </p>
        <p>Salary:&nbsp;
          <span>{{job.salary ===''?'NA':job.salary}}</span>
        </p>
        <p>Type:&nbsp;
          <span>{{job.type === ''?'NA':job.type}}</span>
        </p>
        <p>Start Date:&nbsp;
          <span>{{job.startdate === ''?'NA':job.startdate | formatDate }}</span>
        </p>
        <p>End Date:&nbsp;
          <span>{{job.enddate === ''?'NA':job.enddate | formatDate }}</span>
        </p>
        <p>Experience:&nbsp;
          <span>{{job.experience === ''?'NA':job.experience}}</span>
        </p>
        <p>Skills:&nbsp;
          <span>{{job.skills === ''?'NA':job.skills}}</span>
        </p>
        <p>Job Description:&nbsp;
          <span v-html="job.jd === ''?'NA':job.jd"></span>
        </p>
      </div>
      <div v-show="JobList == 0">No Job Found</div>
    </div>
  </div>
</template>

<script>
export default {
  props:['search_string','isSearch','experience','location'],
  data() {
    return {};
  },
  computed: {
    JobList() {
      if(this.search_string){
              return this.$store.getters.JOBS.filter((job)=>{
              return job.companyname.toLowerCase().match(this.search_string.toLowerCase());
      });
      }else if(this.isSearch){
        return this.$store.getters.JOBS.filter((job)=>{
          if(job.location.toLowerCase().includes(this.location.toLowerCase())){
            if(this.experience){
              if(job.experience.includes(this.experience)){
                return job;
              }
            }else{
              //console.log("no experience provided");
              return job;
            }
          }else{
            return 0;
          }
        });
      }else{
        return this.$store.getters.JOBS
      }  
     }
    },
  mounted() {
    this.$store.dispatch("GET_JOBLIST");
  }
};
</script>

<style lang="scss" scoped>
.job-list {
  display: flex;
  flex-direction: column;
  .total-jobs {
    margin: 2%;
    font-weight: bold; 
  }
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .tile {
      background: #ccc;
      margin: 1%;
      padding: 10px;
      text-align: justify;
      flex: 48%;
      @include mobile{
          flex:100%;
      }
      p {
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
    }
  }
}
</style>
